<div class="movie-container">
  <!-- Search Bar -->
  <div class="search-bar">
    <input 
      type="text" 
      [(ngModel)]="query" 
      (input)="onSearch()" 
      placeholder="Search for movies..." 
      class="search-input" />
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="loading">
    <p>Loading...</p>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="showMessage" class="message-box" [ngClass]="importMessageType">
    {{ importMessage }}
  </div>

  <!-- Movie Table with mat-table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Poster Column -->
    <ng-container matColumnDef="poster">
      <th mat-header-cell *matHeaderCellDef> Poster </th>
      <td mat-cell *matCellDef="let movie">
        <img [src]="(movie.Poster === 'N/A' || !movie.Poster) ? './assets/img/movie-icon.jpg' : movie.Poster" alt="{{ movie.Title }}" class="movie-poster" />
      </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let movie">{{ movie.Title }}</td>
    </ng-container>
  
    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let movie">{{ movie.Year }}</td>
    </ng-container>
  
    <!-- Import Button Column -->
    <ng-container matColumnDef="import">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let movie">
        <button mat-raised-button color="primary" (click)="importMovie(movie)" class="action-button">
          Import
        </button>
        <button mat-raised-button color="warn" (click)="removeMovie(movie)" class="action-button remove-button">
          Remove
        </button>
      </td>
    </ng-container>
  
    <!-- Table Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="pageSize" [length]="paginatorTotal$" (page)="pageChanged($event)">
  </mat-paginator>
  
</div>